body{
  /* margin:0px;
  color:black;
  font-family: 'serif';
 background-color: #FCFFFD; */
  
}

.myNavbar{
  background-color: #057DB5;
  border-bottom: 0.5px solid #FCFFFD;
  font-family: 'Staatliches', cursive;
letter-spacing: 2px;
font-size: 1.2em;
}

.myNavbar div {
  display: none;
}
.myNavbar .toggle,
.myNavbar .brand{
  display: inline-block;
}
.myNavbar .link{
  display: block;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  background-color: #057DB5;
  color: #FCFFFD;
}
.myNavbar .link:hover,.myNavbar .link:active{
  /* background-color:#FCFFFD;
  color: #057DB5; */
}
.myNavbar .brand{
  width: 10em;
  text-align: center;
  padding-top: 25px;
  color: #FCFFFD;
}
.myNavbar a{
  text-decoration: none;
}
.myNavbar .toggle{
  padding: 1em;
  color: #FCFFFD;
}
.nav-icon{
  font-size: 1.5rem;
}
.nav-icon>span{
  font-size: 1rem;
  
}
.nav-search > button {
  height: 2.4em;
  
}

.myNavbar >.btn{
  padding: 0.88rem 0.75rem !important;
}
.form-control{
  padding: 1.6rem 1.2rem !important;
}
.search-button{
  background-color:#FCFFFD;
}
.input-group-append{
  background-color:#FCFFFD !important;
  border-color:black !important;
}
.btn-outline-secondary{
  border-color:black;
}
.btn-outline-secondary:hover{
  background-color:transparent;
  color:black;
  border-color:black;
}
/* .input-group{
  width: 145% !important;
} */

@media (min-width:48em){
  .myNavbar{
      display: flex;
      padding: 0px;
      width: 100%;
  }
  .myNavbar div{
  display: flex;
}
  .myNavbar .left,.myNavbar .right{
      display: flex;
      flex: 1;
      padding-top: 1rem !important;
  }
  .myNavbar .link{
      width: auto;
  }
  .myNavbar .right{
      justify-content: flex-end;
  }
  .myNavbar .toggle{
      display: none;
  }
 /* login-screen */
 .LogInParent{
  justify-content:space-evenly !important;
  align-items: center;
}
.LogInParent>section{
display: flex !important;
flex-direction: column !important;
justify-content: center !important;
align-items: center !important;

}
.LogInParent >form>.login-screen-section2>.input-group{
width: 50% !important ;
}
.LogInParent>form>.login-screen-section3>button{
width: 50% !important;

}
/* signup */
.SignUpParent{
  height:600px;
  margin-top: 6em !important;
}
.SignUpParent>section{
display: flex !important;
flex-direction: column !important;
justify-content: center !important;
align-items: center !important;

}
form>.SignUpTwo>.input-group{
width: 50% ;
}
.SignUpThree >button{
width: 50% !important;

}
}
@media (max-width:48em){
  .myNavbar.active .toggle{
      background-color: #057DB5;
      color: #FFFFFF;
  }
  .myNavbar .brand{
      text-align: left;
  }
  .myNavbar.active div{
      display: block;
  }
  /* card */
  .card-style{
    margin-left: 0px !important;
    padding-left: 0px !important;
  }
  /* login-screen */
  .LogInParent >.login-screen-section1{
    display: flex;
    
    align-self: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 1em;
    
}
.LogInParent > .login-screen-section2{
    
    padding: 0.5em;
}
.LogInParent >.login-screen-section3 {
   margin-bottom: 5rem;
    padding: 1em;
}
.input-group-text{
    background-color: transparent;
}
/* signup */
.SignUpParent > h1{
  font-size: 2em;
}
.SignUpParent > h1>span{
  font-family: 'Monoton', cursive;
}
.input-group-text{
  background-color: transparent;
}
.secondpara
{
  padding-top: 1em;
}
.secondpara > span{
  color: #00ccff;
  font-weight: bold;
  word-spacing: 5px;
}
/* customer-profile */
.c-profile-div-one,.c-profile-div-two{
  width: 100% !important;
}

}
/* slider styles */
.style-slide{
  width: 100%;
  height:550px;

}
.sizeimg2,.sizeimg,.sizeimg1{
  
  height: 450px;
  width: 100%;
}
bg-img,.bg-img2{
  height: 450px;
  width: 100%;
  background-color: #282c34;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.bg-img{
  background-image: url('./assets/slide2.jpg');
}
.bg-img2{
  background-image: url('./assets/img5.jpg');
}
/* slider style end */
/* card styel */
.cardAllign{
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding-left: 1rem;
 
}
.card-style{
  width: 300px;
  background-color: lightgray;
   margin-left: 1rem;
   margin-top: 1rem;
   
  }
 .card-button-style{
   display: flex;
 flex-direction: column;
   justify-content: space-around;
  
   height: 5rem;
 }
 .card-button-style >button{
   background-color: #057DB5 !important;
 }
 
 .card-heading{
   text-align: center;
   font-family: 'Lato', sans-serif;
   margin-bottom: 2rem;
 }
 .icons-size-cart{
   font-size: 1.2rem;
 }
 .productFontsize{
   font-size: 1.35rem;
   font-weight: bold;
   text-transform: capitalize;
 }
/* category */
.main-category-head{
  /* width: 100%;
  height: 350px;
  
  display: flex;
  background-color: pink; */
 
}
.icons{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
}

/* category-end */
/* extra-one start */
.extra-one{
  background-color: #057DB5;
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  margin-bottom: 7rem;
}
.extra-one>.input-group{
  width: 64% !important;
}
.extra-one-heading{
  /* -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
background-color: cornflowerblue;
    border: 13px solid cornflowerblue; */
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #FCFFFD;
    /* font-family: 'Molle', cursive !important; */
}
.extra-one-text{
  font-size: 1.5rem;
    color: #FCFFFD;
}
/* extra-one end */
/* footer-start */
footer{
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  color: #e1e1e1 !important;
height: 250px;
align-items: center;
width: 100%;
text-align: center;


}
footer >div{
  display: flex;
  flex-direction: column;
  width: 33.33%;
  font-size: 1.5em;


}
footer>div>a:first-child{
  font-weight: bold;
  text-decoration: none;
  color: #e1e1e1;
}
footer>div>a{
  color: #e1e1e1;
}
.ninthSection{
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  height: 80px;
  align-items: center;
  border-top:1px dotted #ccd5d6;
  color: #e1e1e1;
}
.eightSection{
  background-color: black;
  width: 100%;
/* min-width: 85%; */
display: flex;
justify-content: center;
align-items: center;
font-size: 3em;
height: 80px;
color: white;
}
.eightSection >span{
  padding-left: 0.5em;
}
/* footer end */
/* login-screen */
.login-logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 169px;
  color: #057DB5;
  background-color: #ffffff;
  font-size: 5.5rem;
  font-family: 'Lora', serif;
  
}
.login-logo > p{
  font-size: 2rem;
}
.LogInParent{
  
  display: flex;
  flex-direction: column;
  height: 600;
  width: 100%;
  height: 34em;
  justify-content: space-evenly;
  font-family: 'Roboto', sans-serif;

}
.login-screen-section2{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-screen-section3{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.LogInParent >section > button{
  background-color: #057DB5;
  border-color: #057DB5;
}
.secondpara > span{
  color: #057DB5;
  font-weight: bold;
  word-spacing: 5px;
}
.LogInParent>section>h1{
  font-weight: bold;
  font-size: 2em;
 

}
.LogInParent>.login-screen-section1
{
  color: #495057;
}
.LogInParent > form {
  width: 100%;
}
/* loin-end */
/* signup seller*/
.SignUpParent{
  display: flex;
  flex-direction: column;
  justify-content: space-around;  
margin: 1em;

}
.SignUpParent > p {
  color: #495057;
  margin: 0px;
}
.SignUpParent>section > button{
  background-color: #00ccff;
  border-color: #00ccff;
}
.SignUpTwo{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.SignUpTwo,.SignUpThree{
  margin-top: 2.5em;
}
.SignUpFont{
  font-family: 'Monoton', cursive;
}
.SignUpTwo > form{
  width: 100%;
  

}
/* signup */
/* customer profile */

.cProfileContainer{
  width: 100%;
  height: 900px;
  color: black !important;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: snow;
 
}
.c-profile-div-one{
  width: 80%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  flex-wrap: wrap;
  background-color: white;
  border-radius: 5px;

 
}
.c-profile-div-two{
  width: 80%;
  height: 600px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 5px;
  background-color: white;
}
.c-profile-div-one-2,.c-profile-div-one-3{
  font-size: 1.5rem;
  
 
}
.c-profile-div-one-2{
  display: flex;
 
  width: 15%;
  justify-content: space-evenly;
 
}
.c-profile-div-one-2 > div{
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 
 
}
.c-profile-div-one-2 >div> p{
  margin-bottom: 0px !important;
}
.c-profile-div-one-3 >p{
  margin-bottom: 0px !important;
}

.abc{
  background-color: green !important;
  border-color: green;
}
/* customer-profile end */
/* postproduct-seller */

/* end */
/* post product  strta*/
.formInPostProduct{
  width: 90%;
  margin-left: 1.5rem;
}
/* post product end */
/* search style start */
.MuiOutlinedInput-input-70{
  padding: 19.5px 30px !important;
}
.text-field{
  display: flex;
    justify-content: center;
}
/* search style end */

.forgot-password-customer{
    display: flex;
    padding-top: 200px;
    justify-content: center;
}

.circle-icon {
  background: #ffc0c0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  padding: 30px;
}
.icon-background {
  background-color:#057DB5 ;
  color: white;
  border-color: #057DB5;
}
.icon-color-cate{
  color: #057DB5;
 
}
/* new slider */
.newSliderStyle{
  
}
.react-slideshow-container + div.indicators{
  margin-top: -100px !important;
}
/* end new slider */

.cate-box{
  
  -webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.5);
box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.5) !important;
}
/* categories box style */
.fa-stack{
  border: 1px solid #057DB5;
  border-radius: 50%;
  width: 6rem ;
}